<div class="mf-menu" *ngIf="showMenu">
    <div class="pcoded"
    [attr.nav-type]="navType"
    [attr.theme-layout]="themeLayout"
    [attr.layout-type]="layoutType"
    [attr.vertical-placement]="verticalPlacement"
    [attr.vertical-layout]="verticalLayout"
    [attr.pcoded-device-type]="deviceType"
    [attr.vertical-nav-type]="verticalNavType"
    [attr.vertical-effect]="verticalEffect"
    [attr.vnavigation-view]="vNavigationView"
    (window:resize)="onResize($event)">
    <div class="pcoded-main-container" [style.margin-top]="headerFixedMargin">
      <div class="pcoded-wrapper">
        <nav id="main_navbar" class="pcoded-navbar" (clickOutside)="onClickedOutside($event)" [attr.pcoded-header-position]="pcodedHeaderPosition" [attr.navbar-theme]="navBarTheme" [attr.active-item-theme]="activeItemTheme" sub-item-theme="theme2" active-item-style="style0" [attr.pcoded-navbar-position]="pcodedSidebarPosition">
          <div class="sidebar_toggle"><a href="javascript:;"><i class="icon-close icons"></i></a></div>
            <div class="pcoded-inner-navbar main-menu" appAccordion>
              <perfect-scrollbar style="max-width: 100%; max-height: calc(100% - 50px);">
                <div *ngFor="let asideItems of menus" class="d-color">
                    <div class="pcoded-navigatio-lavel" [attr.menu-title-theme]="menuTitleTheme">{{asideItems.label}}</div>
                    <ul class="pcoded-item pcoded-left-item" [attr.item-border]="itemBorder" [attr.item-border-style]="itemBorderStyle" [attr.subitem-border]="subItemBorder" *ngFor="let asideItem of asideItems.main" appAccordionLink group="{{asideItem.state}}">
                        <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'sub'" class="pcoded-hasmenu" [attr.dropdown-icon]="dropDownIcon" [attr.subitem-icon]="subItemIcon" appAccordionLink group="{{asideItem.state}}">
                            <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                                <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                                <span class="pcoded-mtext">{{ asideItem.name }}</span>
                                <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                                <span class="pcoded-mcaret"></span>
                            </a>
                            <ul class="pcoded-submenu">
                                <ng-template ngFor let-asideChildren [ngForOf]="asideItem.children">
                                  <li [routerLinkActive]="['active']" *ngIf="asideChildren.type !== 'sub'">
                                    <!-- <a [routerLink]="['./', asideItem.state, asideChildren.state]" target="{{asideChildren.target ? '_blank' : '_self'}}">
                                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                      <span class="pcoded-mtext">{{ asideChildren.name }}</span>
                                      <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                                      <span class="pcoded-mcaret"></span>
                                    </a> -->
                                    <a [routerLink]="['/', asideItem.main_state, asideItem.state, asideChildren.state]" target="{{asideChildren.target ? '_blank' : '_self'}}" *ngIf="asideItem.main_state; else mainContentChildren">
                                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                      <span class="pcoded-mtext">{{ asideChildren.name }}</span>
                                      <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                                      <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ng-template #mainContentChildren>
                                      <a [routerLink]="['/admin', asideItem.state, asideChildren.state]" target="{{asideChildren.target ? '_blank' : '_self'}}">
                                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                        <span class="pcoded-mtext">{{ asideChildren.name }}</span>
                                        <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                                        <span class="pcoded-mcaret"></span>
                                      </a>
                                    </ng-template>
                                  </li>
          
                                  <li [routerLinkActive]="['active']" class="pcoded-hasmenu" [attr.dropdown-icon]="dropDownIcon" [attr.subitem-icon]="subItemIcon"
                                  *ngIf="asideChildren.type === 'sub'" appAccordionLink group="sub-toggled">
                                    <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                                      <span class="pcoded-micon"><i class="ti-direction-alt"></i></span>
                                      <span class="pcoded-mtext">{{ asideChildren.name }}</span>
                                      <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                                      <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                      <ng-template ngFor let-asideChildrenSub [ngForOf]="asideChildren.children">
                                        <li [routerLinkActive]="['active']">
                                          <a [routerLink]="['/admin', asideChildren.state, asideChildrenSub.state]" target="{{asideChildrenSub.target ? '_blank' : '_self'}}" *ngIf="asideChildrenSub.type === 'admin'">
                                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                            <span class="pcoded-mtext">{{ asideChildrenSub.name }}</span>
                                            <span *ngFor="let asideChildrenSubBadge of asideChildrenSub.badge" class="pcoded-badge label label-{{ asideChildrenSubBadge.type }}">{{asideChildrenSubBadge.value}}</span>
                                            <span class="pcoded-mcaret"></span>
                                          </a>
                                          <a [routerLink]="['/', asideItem.state, asideChildren.state, asideChildrenSub.state]" target="{{asideChildrenSub.target ? '_blank' : '_self'}}" *ngIf="asideChildrenSub.type !== 'admin'">
                                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                            <span class="pcoded-mtext">{{ asideChildrenSub.name }}</span>
                                            <span *ngFor="let asideChildrenSubBadge of asideChildrenSub.badge" class="pcoded-badge label label-{{ asideChildrenSubBadge.type }}">{{asideChildrenSubBadge.value}}</span>
                                            <span class="pcoded-mcaret"></span>
                                          </a>
                                        </li>
                                      </ng-template>
                                    </ul>
                                  </li>
                                </ng-template>
                              </ul>
                        </li>
                    </ul>
                </div>
              </perfect-scrollbar>
            </div>
        </nav>
      </div>
    </div>
  </div>  
</div>